<div id="<%= dom_id firearm %>">

  <p>
    <strong>Name:</strong>
    <%= firearm.name  %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= firearm.manufacturer %>
  </p>

  <p>
    <strong>Caliber:</strong>
    <%= firearm.caliber %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= firearm.capacity %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= firearm.age %>
  </p>

  <p>
    <strong>Accessories:</strong>
    <%= firearm.accessories %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= firearm.comments %>
  </p>

<p>
<%= image_tag("Firearms/#{firearm.name}", width:400) %>
</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  View full size
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Full Size</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= image_tag("Firearms/#{firearm.name}") %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






</div>
