<div id="<%= dom_id testhash %>">
  <p>
    <strong>Test1:</strong>
    <%= testhash.test1 %>
  </p>

  <p>
    <strong>Test2:</strong>
    <%= testhash.test2 %>
  </p>

  <p>
    <strong>Test3:</strong>
    <%= testhash.test3 %>
  </p>

  <p>
    <strong>String:</strong>
    <%= testhash.string %>
  </p>

  <p>
    <strong>Test4:</strong>
    <%= testhash.test4 %>
  </p>

  <p>
    <strong>Test5:</strong>
    <%= testhash.test5 %>
  </p>

</div>
