<div id="<%= dom_id testbag %>">
  <p>
    <strong>Name:</strong>
    <%= testbag.name %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= testbag.volume %>
  </p>

  <p>
    <strong>Minweight:</strong>
    <%= testbag.minweight %>
  </p>

  <p>
    <strong>Maxweight:</strong>
    <%= testbag.maxweight %>
  </p>

  <p>
    <strong>Bagweight:</strong>
    <%= testbag.bagweight %>
  </p>

  <p>
    <strong>Carry:</strong>
    <%= testbag.carry %>
  </p>

</div>
