<div id="<%= dom_id catalogue %>">


</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">caliber</th>
      <th scope="col">capacity</th>
      <th scope="col">accessories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= catalogue.name %></td>
      <td><%= catalogue.manufacturer %></td>
      <td><%= catalogue.caliber %></td>
      <td><%= catalogue.capacity %></td>
      <td><%= catalogue.accessories %></td>
    </tr>
  </tbody>
</table>
