<div id="<%= dom_id testcamping %>">
  <p>
    <strong>Name:</strong>
    <%= testcamping.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= testcamping.weight %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= testcamping.volume %>
  </p>

  <p>
    <strong>Carry:</strong>
    <%= testcamping.carry %>
  </p>

</div>
