<p style="color: green"><%= notice %></p>

<%= render @testcamping %>

<div>
  <%= link_to "Edit this testcamping", edit_testcamping_path(@testcamping) %> |
  <%= link_to "Back to testcampings", testcampings_path %>

  <%= button_to "Destroy this testcamping", @testcamping, method: :delete %>
</div>
